body {
  background: #f2f2f2;
}

div.header {
  position: absolute;
  width: 1024px;
  height: 64px;
  left: 0px;
  top: 0px;
  background: #4a90e2;
}

img.facebook_icon {
  position: absolute;
  width: 121px;
  height: 24px;
  left: 42px;
  top: 20px;
}
